.grafico-container {


   display: flex;
   justify-content: center;
   background-color: rgb(211, 211, 223);
   /* margin: 50px; */
   padding: 30px 20px;
   border-radius: 20px;
}

.preço {

   font-size: 11px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}

.estatistica-lateral {
   padding: 30px 20px;
   border-radius: 20px;
   height: 460px;
   box-sizing: border-box;
   /* min-height: 100%;
   max-height: 100%; */
   display: flex;
   background-color: rgb(211, 211, 223);

   font-size: 11px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
}

.infos-horizontal {
   max-height: 100%;
   height: 460px;
   display: flex;
   flex-direction: row;
   gap: 20px;
}

.topo {
   display: flex;
   background-color: rgb(211, 211, 223);
   padding: 10px 20px;
   border-radius: 20px;
   gap: 20px;
   flex-direction: row;
   align-items: center;
   font-size: 14px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
}

.container {
   padding: 30px 20px;
   border-radius: 20px;
   gap: 20px;

   box-sizing: border-box;
   background-color: rgb(117 117 255 / 9%);
   display: flex;
   flex-direction: column;
   border-style: solid;
   border-width: 1px;
   border-color: #878fde0f;

}

.button-recarregar {
   color: whitesmoke;
   border: none;
   background-color: royalblue;
   padding: 12px 30px;
   border-radius: 8px;


   /* background-color: aqua; */
}